/*-----------------------------------

            COLORS

------------------------------------*/
/*-----------------------------------

            BACKGROUND

------------------------------------*/
/*-----------------------------------
            WHITE
------------------------------------*/
$color-white: #FFFFFF;
$color-white-alpha-1: #CECECE;
$color-alpha-1: #FFFFFF4D;
$color-alpha-2: #FFFFFF80;
$color-alpha-3: #30303066;
$color-alpha-4: #FFFFFF80;
/*-----------------------------------
            GREY
------------------------------------*/
$color-grey-1: #E5E5E5;
/*-----------------------------------
            BLUE
------------------------------------*/
$color-blue: #40C4FF;
$color-blue-2: #F7FDFF;

