/*-----------------------------------

            COLORS

------------------------------------*/
/*-----------------------------------
            WHITE
------------------------------------*/
$color-white: #FFFFFF;
$color-white-alpha-1: #CECECE;
$color-alpha-1: #FFFFFF4D;
$color-alpha-2: #FFFFFF80;
$color-alpha-3: #30303066;
$color-alpha-4: #FFFFFF80;
/*-----------------------------------
            GREY
------------------------------------*/
$color-grey-1: #E5E5E5;
$color-grey-2: #808080;
/*-----------------------------------
            BLACK
------------------------------------*/
$color-black: #222222;
/*-----------------------------------
            BLUE
------------------------------------*/
$color-blue: #40C4FF;
$color-blue-2: #F7FDFF;
/*-----------------------------------
            YELLOW
------------------------------------*/
$color-yellow: #FFD740;