/*-----------------------------------

            COLORS

------------------------------------*/
/*-----------------------------------

            BACKGROUND

------------------------------------*/
/*-----------------------------------
            WHITE
------------------------------------*/
$color-bg-white: #FFFFFF;
$color-bg-white-alpha-1: #FFFFFF4D;
$color-bg-white-alpha-2: #FFFFFF80;
$color-bg-white-alpha-3: #FFFFFF26;
$color-bg-white-alpha-4: #FFFFFF80;
/*-----------------------------------
            GREY
------------------------------------*/

/*-----------------------------------

            TEXT

------------------------------------*/
$color-txt-white-alpha-1: #CECECE